<html>
    <head>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="test/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header id="section-header" class="section section-header" style="padding-bottom: 120px;">
          <div class="header-wrapper" style="margin-bottom:50px">
            <nav class="top-nav" style="margin:0px;padding:0px;width:100%;background-color:#069;height:70px;margin-bottom:50px;left:300px;position:absolute;top:0px">
            <div class="top-fill" style="background:url(http://unity3d.com/profiles/unity3d/themes/unity/images/assets/layout/shard.png) 0 0 no-repeat;height: 147px;left: -410px;position: absolute;width: 562px;">
            </div>
        </nav>

          </div>
        </header>
        <div class="grid-row" style="margin-left:330px">
	        {% for bookmark in bookmarks %}
                {% if bookmark.page_id == page_id %}
                    <div class="entire-bookmark" draggable="true" ondragstart="drag(event)">
                        <a class="bookmark tb-1" href="{{ bookmark.url }}" name="bookmark_{{ loop.index - 1 }}" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {{ bookmark.name }}
                        </a>
                        <a class="bookmark bookmark-option bookmark-edit" data-toggle="modal" data-target=".bs-example-modal-sm" href="#" id="edit_{{- loop.index - 1 -}}">
                            edit
                        </a>
                        <a class="bookmark bookmark-option bookmark-delete" href="/{{ page_id }}/delete_bookmark/{{ loop.index - 1 }}">
                            delete
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="entire-bookmark">
                <a id="plus" class="bookmark bookmark-plus tb-1 btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" href="#" name="bookmark_{{bookmarks|length}}"  ondrop="drop(event)" ondragover="allowDrop(event)">+</a>
            </div>
<script>
    {% for bookmark in bookmarks %}
        var anchor = document.getElementById("edit_{{- loop.index - 1 -}}");
        anchor.onclick = function() {
            document.getElementById("link").value = "{{ bookmark.url }}";
            document.getElementById("name").value = "{{ bookmark.name }}";
            $("#form").attr("action", "/{{ page_id }}/edit_bookmark/{{ loop.index - 1 }}/");
        } 
    {% endfor %}
    var plus = document.getElementById("plus");
    plus.onclick = function() {
        document.getElementById("link").value = "";
        document.getElementById("name").value = "";
        $("#form").attr("action", "/{{ page_id }}/add_bookmark/");
    }
    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.name);
    }
    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        window.location.href = "/move/" + data.substring(9) + "/" + ev.target.name.substring(9) + "/";
        //ev.target.appendChild(document.getElementById(data));
    }
</script>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
      <form action="/{{ page_id }}/add_bookmark/" method="post" id="form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Bookmark</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
    <label for="link">Link Address</label>
    <input type="text" class="form-control" name="link" id="link" placeholder="Link Address">
  </div>
  <div class="form-group">
    <label for="name">Display Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Display Name">
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>

    </body>
</html>
